* {
    padding: 0px;
    margin: 0px;
}

:root {

    /* black  */
    --black: black;
    /* white */
    --white: white;
    /* light gray border color  */
    --border-color: #363636;
    /* hover background color  */
    --hover-color: rgba(255, 255, 255, .1);
    --normal-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: cookie;
    src: url(/font/Cookie/Cookie-Regular.ttf);
}

body {
    background-color: black;
    overflow-x: hidden;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

main {
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
}

.main-container {
    width: inherit;
    min-width: auto;
    /* max-width: 1600px; */
    min-height: inherit;
    flex-direction: row;
    position: relative;
    align-items: start !important;
    justify-content: end !important;
}

/* left side start */

.left-side {
    min-width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 1px solid var(--border-color);
    z-index: 2;
    background-color: black;
}

.left-side-1 {
    min-width: 90%;
    height: 100vh;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: space-around !important;
}


.left-side-1 .name {
    font-family: cookie;
    font-size: 30pt;
}

.left-side-1 ul li {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-family: var(--normal-font-family);
}

.left-side-1 ul li:hover {
    background-color: var(--hover-color);
}

ul li {
    margin-top: 10px;
}

ul li a {
    color: white;
    font-size: 13pt;
}

ul li a span {
    font-size: 20px;
    padding-right: 10px;

}

/* in menu  */
.reel-image img {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
}

.profile-image img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

/* left side end */

/* center and right side parent div start */

.center-and-right {
    width: calc(100vw - 250px);
    min-height: 100vh;
    align-items: start !important;
    justify-content: center !important;
    padding: 25px 0px;
    background-color: red;
    gap: 80px;
}

/* center and right side parent div end */

/* center div start */

.center {
    width: 50%;
    /* min-width: 35%; */ /* instagram ki trhan hojayegi yeh wali width zppm out pr  */
    height: 2000px;
    min-height: 100vh;
    max-height: 2000px;
    justify-content: end;
}


.center-1 {
    width: auto;
    /* width: 100%; */
    height: 100%;
    justify-content: start !important;
    flex-direction: column;
    gap: 20px;
    background-color: wheat;
}

.stories {
    gap: 10px;
    width: 100%;
    min-width: 650;
}

.story-circle {
    min-height: 100px;
    min-width: 70px;
    gap: 10px;
    flex-direction: column;
}

.story-circle img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    object-fit: fill;
    padding: 2.5px;
    /* background: rgb(131, 58, 180); */
    background: linear-gradient(165deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.story-circle .caption1 {
    font-size: 9pt;
    font-family: var(--normal-font-family);
}

/* feed section start */
.feeds {
    height: auto;
    width: 500px;
    background-color: wheat;
    align-items: start;
}

.inner-feed {
    height: auto;
    width: 100%;
    background-color: aqua;
    flex-direction: column;
}

.feed-top {
    width: 100%;
    height: 60px;
    gap: 10px;
    justify-content: start;
}

.feed-top img {
    height: 40px;
    width: 40px;
    object-fit: fill;
    border: 1px solid white;
    border-radius: 100%;

}

.feed-top .name-and-audio p:nth-child(1) {
    font-size: 12pt;
    font-family: var(--normal-font-family);
}

.feed-top .name-and-audio p:nth-child(2) {
    font-size: 9pt;
    font-family: var(--normal-font-family);
}

.feed-bottom {
    width: 100%;
    height: 700px;
    overflow: hidden;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1.5px solid var(--border-color);
}

.feed-bottom .image {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid var(--border-color);
}

.feed-bottom .image img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.feed-bottom .icons {
    width: 100%;
    justify-content: space-between;
    font-size: 18pt;
}

.feed-bottom .icons span {
    gap: 20px;
}

.feed-bottom .like-comment-detial {
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.feed-bottom .like-comment-detial p {
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feed-bottom .like-comment-detial p button {
    cursor: pointer;
}

.feed-bottom .like-comment-detial p button,
.feed-bottom .like-comment-detial span input {
    background: transparent;
    outline: none;
    border: none;
    color: rgb(167, 167, 167);
}

.feed-bottom .like-comment-detial span,
.feed-bottom .like-comment-detial span input {
    width: 100%;
    min-height: 40px;
}

/* feed section end */

/* center div end */

/* right-side div start */

.right-side {
    width: 30%;
    height: 100vh;
    gap: 10px;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: white;

}

.right-side-1 {
    height: 80px;
    width: 70%;
    background-color: red;
    align-items: center;
    justify-content: space-between;
}

.right-side-1 .profile {
    gap: 10px;
}

.right-side-1 .profile img {
    height: 40px;
    width: 40px;
    object-fit: fill;
    border: 1px solid white;
    border-radius: 100%;
}

.profile .user-and-name p {
    font-family: var(--normal-font-family);
}

.profile .user-and-name p:nth-child(1) {
    font-size: 12pt;
    color: white;
}

.profile .user-and-name p:nth-child(2) {
    font-size: 9pt;
    color: lightgray;
}

/* right-side div end */